@tailwind base;
@tailwind components;
@tailwind utilities;

.jane-btn{
    background-color: #183a55;
    padding: 10px 40px;
    border-radius: 20px;
    color:#fff;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}
.jane-btn:hover{
    background-color: #03C0A8;
}
.slick-prev::before{
    content: url('./assests/left-arrow.png');
}
.slick-next::before{
    content: url('./assests/right-arrow.png');
}
@media only screen and (max-width: 600px) {
    .slick-next{
        right: 15px;
        z-index: 10;
    }
    .slick-prev{
        left: 15px;
        z-index: 10;
    }

}